pip install transformers
pip install wandb
pip install datasets
pip install accelerate
pip install torch
pip install torchmetrics
pip install sentencepiece
pip install pyarrow
pip install tqdm
pip install scikit-learn
pip install pandas
pip install numpy
pip install matplotlib
pip install seaborn
pip install nltk
pip install regex
